<div class="container">
  <div class="box-form mt-5">
      <div class="left">
          <div class="overlay">
              <h1>Human Resource</h1>
              <span>
                  <a href="#"><i class="bi bi-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="bi bi-twitter" aria-hidden="true"></i></a>
              </span>
          </div>
      </div>
      <div class="right">
          <h5 id="logo">Login</h5><br><br>
          <div class="inputs">
              <input type="text" placeholder="user name" name="userName" [(ngModel)]="newUser.userName">
              <br>
              <input type="password" placeholder="password" name="userPassword" [(ngModel)]="newUser.userPassword">
          </div>
          <br><br><br>
          <button class="mx-2" (click)="login()">Login</button>
          <button class="mt-5 mx-0" (click)="signUp()">Sign-up</button>
          
      </div>
  </div>
  </div>