*{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all.0.3s linear;
}

p:hover,h6:hover {
  color:orange;
}

.footer{
background:#DDD9D2;
box-shadow: var(--box-shadow);
}

.footer1{
  background:#83817F;
  color: wheat;
  box-shadow: var(--box-shadow);
}